@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.delivery-and-payment-section {
  background-color: white;
}
.delivery-and-payment-section-img {
  width: 270px;
}
.delivery-and-payment-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.delivery-and-payment-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.payment-card-img {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}
.custom-button {
  color: white;
  background-color: #d0b200;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}